.boxHover:hover {
    border: 3px solid #ee7170 !important;
    /* background-color: red; */
}

.customTable {
    background-color: red;
}

.customerItem {
    background-color: rgba(255,255,255,.2); 
    border-radius: 10px; 
    display: inline; 
    padding: 10px 25px; 
    font-size: 1.2rem; 
    font-weight: 500;
}


.tableField:focus{
    box-shadow: 0!important;
}